doctype html
html
	head
		title Movies!
		link(href='styles/index.css',rel='stylesheet')
	body
		h1 Movie Time!
		div(class="container",id="container")
		script(src="scripts/stored.js")
		script(src="scripts/display.js")
